<div class="edit-project-sidebar" [ngClass]="{ open: isOpen }">
  <h2>Edit Task</h2>
  <form [formGroup]="projectForm" (ngSubmit)="updateProject()">
    <div>
      <label for="project">Project Name</label>
      <input type="text" id="project" name="project" formControlName="name" />
    </div>
    <div>
      <label for="description">Description</label>
      <textarea
        id="description"
        name="description"
        formControlName="description"
        (input)="autoGrow($event)"
      ></textarea>
      <div>
        <label for="status">Durum:</label>
        <select formControlName="status" id="status">
          <option value="active">Active</option>
          <option value="completed">Completed</option>
        </select>
      </div>
      <div>
        <div>
          <label for="start">Start Date</label>
          <label style="margin-left: 320px" for="end">End Date</label>
        </div>
        <div class="d-flex">
          <input
            class="me-3"
            type="date"
            id="start"
            name="start"
            formControlName="startDate"
            (change)="onStartDateChange($event)"
          />
          <input
            type="date"
            id="end"
            name="end"
            formControlName="endDate"
            [min]="minEndDate"
          />
        </div>
        <div>
          <label>Income</label>
          <label style="margin-left: 320px">Expenses</label>
        </div>
        <div class="d-flex">
          <input
            class="me-3"
            type="number"
            id="income"
            name="income"
            formControlName="income"
          />
          <input
            type="number"
            id="expenses"
            name="expenses"
            formControlName="expenses"
          />
        </div>
      </div>
      <div>
        <label for="project">Select Customer</label>
        <select
          class="form-control"
          formControlName="customerId"
          id="customerId"
        >
          <option value="">-- Select Customer --</option>
          <option *ngFor="let customer of customers" [value]="customer.id">
            {{ customer.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="btm-group mt-3">
      <button
        type="submit"
        class="btn btn-primary me-2"
        [disabled]="projectForm.invalid"
      >
        Save
      </button>
      <button type="button" class="btn btn-secondary" (click)="closeSidebar()">
        Cancel
      </button>
    </div>
  </form>
</div>
