<div class="container mt-4">
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search tasks..."
      [(ngModel)]="searchTerm"
      (input)="filterTasks()"
      style="width: 375px"
    />
  </div>
  <div *ngIf="filteredTasks.length != 0; else noTasks">
    <ul class="list-group">
      <li
        class="list-group-item d-flex align-items-center"
        *ngFor="
          let task of filteredTasks;
          let i = index;
          trackBy: trackByTaskId
        "
      >
        <div>
          <input
            type="checkbox"
            (change)="completeTask(task)"
            [checked]="task.status === 'completed'"
            class="me-3"
            *ngIf="userRole !== 'Employee'"
          />
        </div>
        <div class="task-content">
          <h5>{{ task.name }}</h5>
          <div class="task-dates d-flex">
            <small class="text-muted me-3" *ngIf="task.startDate != null">
              Start {{ getTimeAgo(task.startDate) }}
            </small>
            <small class="text-muted" *ngIf="task.endDate != null">
              End {{ getTimeRemaining(task.endDate) }}
            </small>
          </div>
          <small class="text-muted" *ngIf="task.projectName != null">
            Project: {{ task.projectName }}
          </small>
        </div>
        <div class="task-options" *ngIf="userRole !== 'Employee'">
          <i class="fa-solid fa-ellipsis-vertical" (click)="toggleMenu(i)"></i>
          <ul *ngIf="openMenuIndex === i" class="task-menu">
            <li>
              <span
                class="open-sidebar-span"
                style="cursor: pointer"
                (click)="editTask(task.id)"
                >Edit</span
              >
            </li>
            <li>
              <span style="cursor: pointer" (click)="deleteTask(task.id)"
                >Delete</span
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #noTasks>
    <p>No tasks to display.</p>
  </ng-template>
</div>
