.table-container {
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  max-width: 100%; /* Parent container'a göre genişlik ayarlar */
}

table {
  width: max-content;
  border-collapse: collapse;
}

th,
td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  position: sticky;
  top: 0;
  z-index: 1;
}

tr:hover {
  background-color: #f1f1f1;
}
