<div class="sidebar text-white">
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a routerLink="/dashboard" class="nav-link text-white">Home</a>
    </li>
    <li class="nav-item mb-2">
      <a [routerLink]="['/dashboard/projects']" class="nav-link text-white"
        >Projects</a
      >
    </li>
    <li class="nav-item mb-2">
      <a [routerLink]="['/dashboard/tasks']" class="nav-link text-white"
        >Tasks</a
      >
    </li>
    <li class="nav-item mb-2">
      <a routerLink="/reports" class="nav-link text-white">Customers</a>
    </li>
    <li class="nav-item mb-2">
      <a routerLink="/settings" class="nav-link text-white">Settings</a>
    </li>
  </ul>
</div>
