<div class="sidebar text-white">
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a
        [routerLink]="['/dashboard/home']"
        routerLinkActive="active-link"
        class="nav-link text-white d-flex flex-column align-items-center"
      >
        <i class="fa-solid fa-house icon-large"></i>
        <span class="nav-text">Home</span>
      </a>
    </li>
    <li class="nav-item mb-2">
      <a
        [routerLink]="['/dashboard/projects']"
        routerLinkActive="active-link"
        class="nav-link text-white d-flex flex-column align-items-center"
      >
        <i class="fa-solid fa-diagram-project icon-large"></i>
        <span class="nav-text">Projects</span>
      </a>
    </li>
    <li class="nav-item mb-2">
      <a
        [routerLink]="['/dashboard/tasks']"
        routerLinkActive="active-link"
        class="nav-link text-white d-flex flex-column align-items-center"
      >
        <i class="fa-solid fa-list-check icon-large"></i>
        <span class="nav-text">Tasks</span>
      </a>
    </li>
    <li class="nav-item mb-2" *ngIf="userRole !== 'Employee'">
      <a
        [routerLink]="['/dashboard/customers']"
        routerLinkActive="active-link"
        class="nav-link text-white d-flex flex-column align-items-center"
      >
        <i class="fa-brands fa-intercom icon-large"></i>
        <span class="nav-text">Customers</span>
      </a>
    </li>
    <li class="nav-item mb-2">
      <a
        [routerLink]="['/dashboard/myteam']"
        routerLinkActive="active-link"
        class="nav-link text-white d-flex flex-column align-items-center"
      >
        <i class="fa-solid fa-people-group"></i>
        <span class="nav-text">My Team</span>
      </a>
    </li>
  </ul>
</div>
