<div class="d-flex justify-content-between align-items-start">
  <div>
    <h3>Projects</h3>
    <div class="tab-container">
      <div
        class="tab"
        type="button"
        [ngClass]="{ active: selectedTab === 'List' }"
        (click)="selectTab('List')"
        [routerLink]="['list']"
        style="color: #555"
      >
        List
      </div>
      <div
        class="tab"
        [ngClass]="{ active: selectedTab === 'Archived' }"
        (click)="selectTab('Archived')"
        [routerLink]="['archived']"
        style="color: #555"
      >
        Archived
      </div>
    </div>
  </div>
  <button
    class="open-sidebar-button btn btn-primary"
    (click)="openSidebar($event)"
  >
    Create
  </button>
</div>
